includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon

rules:
    - Spatie\Ray\PHPStan\RemainingRayCallRule
    - Ergebnis\PHPStan\Rules\Expressions\NoCompactRule
    - Ergebnis\PHPStan\Rules\Statements\NoSwitchRule
    - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule

parameters:
    ignoreErrors:
        -
            identifier: staticMethod.dynamicCall
    type_coverage:
        return: 80
        param: 80
        property: 80
        constant: 80
    customRulesetUsed: true
    level: 8
    paths:
        - app/
        - database/
        - bootstrap/app.php
