parameters:
	tmpDir: .phpstan
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$builder \(Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\) of method App\\Models\\Scopes\\UserScope\:\:apply\(\) should be contravariant with parameter \$builder \(Illuminate\\Database\\Eloquent\\Builder\) of method Illuminate\\Database\\Eloquent\\Scope\:\:apply\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: app/Models/Scopes/UserScope.php

		-
			identifier: typeCoverage.paramTypeCoverage
			count: 1
			path: app/Models/Token.php
