parameters:
	ignoreErrors:
		-
			message: '#^Out of 549 possible param types, only 544 \- 99\.0 %% actually have it\. Add more param types to get over 100 %%$#'
			identifier: typeCoverage.paramTypeCoverage
			count: 1
			path: app/Models/Token.php

		-
			message: '#^Out of 549 possible param types, only 544 \- 99\.0 %% actually have it\. Add more param types to get over 100 %%$#'
			identifier: typeCoverage.paramTypeCoverage
			count: 4
			path: app/OIDCProvider.php
