parameters:
	ignoreErrors:
		-
			message: '#^Out of 556 possible param types, only 551 \- 99\.1 %% actually have it\. Add more param types to get over 100 %%$#'
			identifier: typeCoverage.paramTypeCoverage
			count: 1
			path: app/Models/Token.php

		-
			message: '#^Out of 556 possible param types, only 551 \- 99\.1 %% actually have it\. Add more param types to get over 100 %%$#'
			identifier: typeCoverage.paramTypeCoverage
			count: 4
			path: app/OIDCProvider.php
