name: Check Types

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  check-types:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '22'
          cache: 'pnpm'
          cache-dependency-path: 'frontend'

      - name: Install dependencies
        run: pnpm install

      - name: Check types
        run: pnpm run check-types
