name: PHPStan

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  phpstan:
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
      - uses: actions/checkout@v6

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages and PHPStan
        id: cache-dependencies
        uses: actions/cache@v4
        with:
          path: |
            vendor
            .phpstan
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock', 'phpstan.dist.neon') }}
          restore-keys: |
            ${{ runner.os }}-php-
            phpstan-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: PHPStan
        run: ./vendor/bin/phpstan analyse --memory-limit=2G
